In [18]:
print("python is case sensitive language")
print("Age or age or different but in sql are same ")

python is case sensitive language
Age or age or different but in sql are same

In [19]:
name = "abhinish"

In [11]:

name = "abhinish"
age = 22
salary = 300000.500
identity = True

print("heelo i am ", name, "i am ", age ,'years old and salary is =', salary )

print(type(name))
print(type(age))
print(type(salary))
print(type (identity))

heelo i am  abhinish i am  22 years old and salary is = 300000.5
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [17]:
         # data types -- int,float,boolean, string, none,
a =    None
print(a)
print(type(a))

None
<class 'NoneType'>

In [25]:
               #  sume of to  number
a,b = 343, 434
c = a+b
print("sum of two number is:",c)

sum of two number is: 777

In [1]:
             # expression execution 
a,b = 2,3 
txt = "@"
print(a*txt*b)

a = "2"
b = 3
txt = "@"
print((a+txt)*3)

@@@@@@
2@2@2@

In [1]:
# number value arithmetic  opertors
a,b,c = 2,3,4
print(a+b*c)
print()
a,b = 10,5.0
c = a*b
print(c)
print(type(c))
a, b =-12,5
c = a+b
print(c)
print(type(c))

14

50.0
<class 'float'>
-7
<class 'int'>

In [ ]:
    # comments """ """,  #

In [38]:
# input statements input()
# string input 
name = input("enter Name:")
# int input
age = int(input("Enter age"))
#float input
salary = int(input("Enter salary:"))

enter Name: abhi
Enter age 21
Enter salary: 349999

In [39]:
# taking input
name  = input("enter your name:")
age = int(input("Enter age"))
salary = int(input("Enter salary:"))
print("my name is ",name,"i am", age,'years old','and my salary around',salary)

enter your name: abhinish
Enter age 21
Enter salary: 450000

my name is  abhinish i am 21 years old and my salary around 450000

In [1]:
 # conditional statements if, else, elif
light = str(input("enter light color"))
if (light == "red"):
    print("stop")
elif (light == "yellow"):
    print("look")
elif (light == "green"):
    print("GO")
else:
    print("light is broken")

# ternay operator
food = input("Enter fav food")
eat = "yes" if food == 'cake' else 'no'
print(eat)

enter light color re

light is broken

Enter fav food cake

yes

In [53]:
age = int(input("Enter age"))
vote = ('no','yes') [age>=18]
print(vote)

age = int(input("Enter age"))
vote = 'yes' if age>=18 else 'no'
print("they can vote", vote)

Enter age 12

no

Enter age 44

they can vote yes

In [54]:
# Ques 1 = calculate simple interest p*r*t/100
p = float(int(input("enter p:")))
r = float(int(input("enter r:")))
t = float(int(input("enter t:")))
simple_interest = p*r*t/100
print(simple_interest)

enter p: 34
enter r: 45
enter t: 677

10358.1

In [64]:
# types of operators 
#arithmetic operators  + ,- ,* ,%, /
#relational operators/ comparison operators >, <, >=, <= ,==, != 
#assignment operators = , += , -=,  /=  ,%= , **=
#logicaloperators and , or  , not

a,b = 8,4
print("result:", a+b)
print("result:", a-b)
print("result:", a/b)
print("result:", a%b)
print("result:", a**b)
print("result:", a>b)
print("result:", a<b)
print("result:", a>=b)
print("result:", a<=b)
print("result:", a!=b)
aa =20
cc= 3
cc-= 50
print(cc)

result: 12
result: 4
result: 2.0
result: 0
result: 4096
result: True
result: False
result: True
result: False
result: True
-47

In [71]:
              # TYPE CONVERSION
#automatic conversion
a = 2
b = 4.34
sum = a+b
print(sum)
print(type(sum))

# TYPE CASTING
A = 1
B = "2"
C = int(b)
d = a+c
print(d)
print(type(d))

a = 3.14
b = str(a)
print(a)
print(type(b))

6.34
<class 'float'>
15
<class 'int'>
3.14
<class 'str'>

In [77]:
# pratice quest
# QUESTION - 1 take 2 input number and print sum
num1 = int(input("num1:"))
num2 = int(input("num2:"))
print("sum of two num:",num1+num2)

# QUESTION - 2 wap to input side of square and print area side*side
side = int(input("enter side:"))
print("area of sqare is", side*side)

# QUESTION - 3 2 flating number print avg
num1 = float(input("num1:"))
num2 = float(input("num2:"))
avg = num1+num2
print("avg of two num:",avg/2)

# QUESTION - 4 2 int number a&b print true if greater than or equal to  b if not false
num1 = int(input("num1:"))
num2 = int(input("num2:"))
if(num1>=num2):
    print("num1 is greater than num2:",num1)
elif(num1==num2):
  print("num2 is eqal to num1:",num2)
else:
    print("false")

num1: 89
num2: 98

sum of two num: 187

enter side: 8

area of sqare is 64

num1: 50
num2: 50

avg of two num: 50.0

num1: 87
num2: 87

num1 is greater than num2: 87

In [82]:
               # Identity operators
#is, is not
a = 10
b = 20
c = a
print(a is not b)
print (a is c)
print (a is b)

True
True
False

In [86]:
# membership opeartors in, not in
x = 23
y = 40
list = [10,23,30,45]
print(x in list)
print( y in list)
print( y not in list)

if ( x in list):
    print("x is present in list")
else:
    print("X not in list")
if ( y in list):
    print("y is present in list")
else:
    print("Y not in list")

True
False
True
x is present in list
Y not in list

In [93]:
# sTRING & conditional statements
name = "heelo"+" abhinish"
print(name)
print(len(name))

str1 = "this is \n new line"  #\n  new line
str2 = 'apan \t college'  #\t spacetab
str3 = """This is string"""
print(str1)
print(str2)
print(str3)

heelo abhinish
14
this is
 new line
apan 	 college
This is string

In [111]:
name ="abhinish"
ch = name[0]
print(ch)
ch = name[0:4]
print(ch)
ch = name[1:len(name)]
print(ch)
# Negatice indexing
print(name[-7:-1])

a
abhi
bhinish
bhinis

In [5]:
#  STRING FUNCTION
str = "i am coder"
print(str.count('e'))
print(str.replace('o','a'))
print(str.find('o'))
# print(str.endwith('r'))
# print(str.capatalize())

1
i am cader
6

In [123]:
# PrACTICE QHES = 1 take input first name and print length
name = input("enter Name:")
print(len(name))
# Ques = 2 check occuarance of $
str = "hi $$im the you how$"
print(str.count('$'))

enter Name: yhhh

4
3

In [134]:
## CONDITIONAL STATEMENTS IF- ELIF- ELSE
age = int(input("enter age"))
if(age>=18 and age<=100):
    print("they can vote")
elif(age<18):
    print("child")
else:
    print("Not valid")

enter age 400

Not valid

In [137]:
# Ques = 1 wap to user input check even or odd
num1 = int(input("num1:"))
# num2 = int(input("num2:"))
if(num1%2==0):
    print("even number:",num1)

else:
    print("odd num:", num1)

# Ques = 2 wap to user input check if number is multiple of 7 or not
num1 = int(input("num1:"))
if(num1%7==0):
    print("multiple of 7 number:",num1)

else:
    print(" not multiple of 7 num:", num1)

num1: 67

odd num: 67

num1: 76

 not multiple of 7 num: 76

In [8]:
   # LIST'S IN PYTHON MUTABLE
marks =[94.4,99,98,96,97.5]
print(marks)
print(marks[0])
print(len(marks))
print(type(marks))

student = ['aman','99.3','22','Delhi']
print(student)
student[0] = "arjun"  #updation
print(student)

# list slicing
print(student[0:2])
print(student[-2:-1])
print(student[0:])
print(student[1])

[94.4, 99, 98, 96, 97.5]
94.4
5
<class 'list'>
['aman', '99.3', '22', 'Delhi']
['arjun', '99.3', '22', 'Delhi']
['arjun', '99.3']
['22']
['arjun', '99.3', '22', 'Delhi']
99.3

In [9]:
list = [2,1,3,5,4]
print(list.append(9))
print(list)
print(list.reverse())
print(list)
print(list.remove(1))
print(list)
print(list.insert(0,99))
print(list)
print(list.sort())
print(list)
list.pop(2)
print(list)

print(list.sort(reverse=True))
print(list)  # descending order

None
[2, 1, 3, 5, 4, 9]
None
[9, 4, 5, 3, 1, 2]
None
[9, 4, 5, 3, 2]
None
[99, 9, 4, 5, 3, 2]
None
[2, 3, 4, 5, 9, 99]
[2, 3, 5, 9, 99]
None
[99, 9, 5, 3, 2]

In [2]:
 #  TUPLE ARE IMMUTABLE
# tup = (83,45,56,46,66,99)
# print(tup)
# print(type(tup))
# tup[0] = 33  does not support
# print(tup)

# tup = (1,)  #comma is necessary,
# print(tup)
# print(type(tup))

tup = (83,45,56,46,66,990,1,1,8)
# print(tup)
# print(type(tup))
# print(tup.index(2))
# print(tup)
print(tup.count(1))

2

In [3]:
#  LET'S PRACTISE
# to ask user to enter name of favourite movies and store in list

movies = []
mov = input("enter 1st movies:")
movies.append(mov)
mov = input("enter 2st movies:")
movies.append(mov)
mov = input("enter 3rd movies:")
movies.append(mov)

print(movies)
print(type(movies))

enter 1st movies: hh
enter 2st movies: aa
enter 3rd movies: jj

['hh', 'aa', 'jj']
<class 'list'>

In [5]:
list = [1,2,1]
list1 = list.copy()
list1.reverse()
if(list == list1):
    print("palindrome")
else:
    print("Not palindrome")

name = "mom"
rev = name.copy()
rev.reverse()
if(name == rev):
    print("palindrome")
else:
    print("not palindrome")

palindrome

AttributeError: 'str' object has no attribute 'copy'

In [10]:
tupel = ('A', 'B', 'C', 'A','D','D','A')
# print(tupel)
print(tupel.count('A'))
# print(tuple.sort(reverse = True))
print(tupel)
# print(tupel.sort())
print(tupel)

3
('A', 'B', 'C', 'A', 'D', 'D', 'A')

AttributeError: 'tuple' object has no attribute 'sort'

In [67]:
## DICTIONARY
dict  ={
    "NAME" : "ABHINISH",
    'CGPA': 9.5,
    'MARKS' : [96,89.96,97,95]
}
print(dict)
print(type(dict))

print(dict["NAME"])
# Changing value or adding
dict["NAME"] = "ABHAY",
dict["surname"] = "mishra"
print(dict)

{'NAME': 'ABHINISH', 'CGPA': 9.5, 'MARKS': [96, 89.96, 97, 95]}
<class 'dict'>
ABHINISH
{'NAME': ('ABHAY',), 'CGPA': 9.5, 'MARKS': [96, 89.96, 97, 95], 'surname': 'mishra'}

In [1]:
null_dict ={}
null_dict["NAME"] = "abhi"
print(null_dict)

{'NAME': 'abhi'}

In [13]:
students ={
    'name':'rahul',
    'subject':{
        'phy':97,
        'math':95,
        'chem':96
    }
}
print(students)
print(students['subject'])
#typecast in list
print(students.keys())
print(students.values())
print(students.get('subject'))
# print(students.update('student'))
print(students.items())
# print(len.students)

{'name': 'rahul', 'subject': {'phy': 97, 'math': 95, 'chem': 96}}
{'phy': 97, 'math': 95, 'chem': 96}
dict_keys(['name', 'subject'])
dict_values(['rahul', {'phy': 97, 'math': 95, 'chem': 96}])
{'phy': 97, 'math': 95, 'chem': 96}
dict_items([('name', 'rahul'), ('subject', {'phy': 97, 'math': 95, 'chem': 96})])

In [4]:
# sets in python
num ={1,2,3,4,5}
set = {1,2,2,2,2}
print(num)
print(len(num))
print(type(num))

{1, 2, 3, 4, 5}
5
<class 'set'>

In [22]:
num ={1,2,2,2,3,4,5,'hello',45.2,True}
print(len(num))
print(num)

7
{1, 2, 3, 4, 5, 'hello', 45.2}

In [30]:
#set methods
num ={1,2,3,4,5}
num.add(22)
print(num)
num.remove(2)
print(num)
num.pop()
print(num)
num.clear()
print(num)

{1, 2, 3, 4, 5, 22}
{1, 3, 4, 5, 22}
{3, 4, 5, 22}
set()

In [32]:
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.union (set2))
print(set1.intersection (set2))

{1, 2, 3, 4}
{2, 3}

In [13]:
#let's praticse
#store word meaning in python dictionary:
dict = {
    'cat': 'small animal',
    'table': 'a pieace of furniture'
}
print(dict)
#ques2
subjects = {
    'subj': {
    'python','java','c++','js','java','python','java','c++','c'
    }
}
print(subjects)
print(len('subj'))

{'cat': 'small animal', 'table': 'a pieace of furniture'}
{'subj': {'python', 'js', 'c', 'java', 'c++'}}
4

In [27]:
#wap to 3 user input marks in dicitionary
dictt ={}
key1 = input("Enter a key value:")
value1 = input("Enter value:")
dictt[key1] = value1
key2 = input("Enter a key value:")
value2 = input("Enter value:")
dictt[key2] = value2
key3 = input("Enter a key value:")
value3 = input("Enter value:")
dictt[key3] = value3
print(dictt)

enter  subjects
Enter a key value: kdfkl90
Enter value: 90
Enter a key value: lkll
Enter value: 90
Enter a key value: lkdl
Enter value: 89

{'kdfkl90': '90', 'lkll': '90', 'lkdl': '89'}

In [29]:
dict ={"brand", 'ford','bmw'}
new_key = input("enter the key:")
new_value = input("enter value")
dict.update({new_key:new_value})
print({dict})

enter the key: hing
enter value 98

In [1]:
##Looping in python
# for i in range(1,10,2):
#     print(i)
# print()
count = 1
while(count<=10):
    print(count)
    count= count+1

1
2
3
4
5
6
7
8
9
10

In [18]:
#reverse number
# for i in range(10,0,-1):
#     print(i)
for i in range(1,11,1):
    print( i,' = shaurya mishra')

1  = shaurya mishra
2  = shaurya mishra
3  = shaurya mishra
4  = shaurya mishra
5  = shaurya mishra
6  = shaurya mishra
7  = shaurya mishra
8  = shaurya mishra
9  = shaurya mishra
10  = shaurya mishra

In [25]:
#QUES = 1 MULtiplication of user inputer number table
num = int(input('enter number:'))
for i in range(1,11):
    print(i, "*" ,num, "=", i*num)

enter number: 8

1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80

In [49]:
num = [2,4,6,4,3,399,200,740]
for el in num:
    print(el)
# i =0
# while i<=len(num):
#     print(num [i])
#     i+=1

x = 200
i = 0
while i <=len(num):
    if(num[i]==x):
        print("found at index:",i)
    i=i+1

2
4
6
4
3
399
200
740
found at index: 6

IndexError: list index out of range

In [5]:
#break statement
i = 1
while i<=5:
    print(i)
    i=i+1
    if(i==3):
        break
    # print("end")

1
2

In [ ]:
#continue statement for skipping value
i = 0
while i<=5:
    if(i==3):
        continue
        print(i) 
        i+=1
    # print(i)

In [ ]:
i = 0
while i<=10:
    if(i==3):
        continue
    print(i)
    i=i+1