In [1]:
# FOR looping
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [5]:
list = [2,45,6,32]
for i in list:
    print([i])
print(type(list))

[2]
[45]
[6]
[32]
<class 'list'>

In [2]:
tuple = (2,45,6,32)
for i in tuple:
    print((i))
print(type(tuple))

2
45
6
32
<class 'tuple'>

In [13]:
str = "apnacollege"
for ele in str:
    print(ele)
print(len(str))

a
p
n
a
c
o
l
l
e
g
e
11

In [20]:
#Ques = print list in loop
# list = [1,4,9,16,25,36,49,69,65]
# for ele in list:
#     print(ele)
# print(type(ele))

#Ques = search number x
list = [1,4,9,16,25,36,49,69,65]
x = 69
index = 0
for ele in list:
    if(ele == x):
        print("founded at index:",index)
    index = index+1

founded at index: 7

In [23]:
# RANGE()
for ele in range(1,5,2):
    print(ele)

1
3

In [10]:
#Ques = from 1 to 10 even number
for i in range(2,10,2):
    print(i)
#Ques = from 1 to 10 odd number
print("odd number")
for i in range(1,10,2):
    print(i) 
seq = range(5)
for i in seq:
    print(i)

2
4
6
8
odd number
1
3
5
7
9
0
1
2
3
4

In [24]:
#Ques = from 1 to 100 number 
for i in range(1,101,1):
    print(i, end = " "  )
  
#Ques = from 100 to 1 reverse number
print()
for i in range(100,0,-1):
    print(i, end = " "  )
#Ques =mulitplication of table of n number user input
print()
n = int(input("Enter numb:"))
for i in range(1,11):
    print(i, "x" , n ,"=", i*n)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

Enter numb: 8

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

In [34]:
#pass statement 
# for el in range(10):
#     pass# nothing can do pass
#     print('hello')
#break statement
for i in range(1,10):
    if(i==4):
        break
    print(i)
#continue statement
print("continue to skip 4")
for i in range(1,7):
    if (i==4):
        continue
    print(i)

1
2
3
continue to skip 4
1
2
3
5
6

In [47]:
#ques: wap find sum of first n number using while
n = int(input("enter n:"))
sum = 0
i = 1
while i<=n:
    sum = sum+i
    i = i+1
print(sum)
    
# n = int(input("enter n:")
# sum = 0
# for i in range(1,n+1):
#     sum = sum+i
# print("sum of first n number" ,sum)
#ques: wap find of first n factorial 
n = int(input("enter n:"))
fact =1
for i in range(1,n+1,1):
    fact = fact*i
print(fact)

enter n: 5

15

enter n: 5

120