In [7]:
print("Basic Commands in Pandas")

Basic Commands in Pandas

In [12]:
import pandas as pd
s = pd.Series([4,5,6,7,8])
print(s)
# print(s.dtype)

0    4
1    5
2    6
3    7
4    8
dtype: int64
int64

In [11]:
s = pd.Series(['a','b','c','d','e'], index =[1,2,3,4,5])
print(s)

1    a
2    b
3    c
4    d
5    e
dtype: object
object

In [ ]:
# Key data Structure in Panda
* series = 1 dimensional
* DataFrame = 2 dimensional

In [17]:
df = pd.DataFrame({"name": ['amit','raj','rohan','shyam' ], "marks": [45,56,77,99]})
df

    name  marks
0   amit     45
1    raj     56
2  rohan     77
3  shyam     99